.box-line {
	border-bottom: 1px solid #ccc; /* 1px 두께, 회색 (#ccc) 선 */
}

.study-detail-left-box {
	background-color: #ffffff; /* 배경색 흰색 */
	border: none; /* 테두리 제거 */
	box-shadow: none; /* 박스 그림자 제거 (옵션) */
}

.button-gradient {
   background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%); 
  -webkit-text-fill-color: transparent;
  color: white; /* 텍스트 색상 흰색 */
  -webkit-text-fill-color: white;
  border: 1px solid #ced4da;
  border-radius: 10px !important ; 
 font-weight: 540;
}

.trash-icon-area{
	font-size: 1.1rem;
	color: red;
}

.reply-list-area {
	border-radius: 0.3em;
	background-color: #f9f9f9;
}

.bi-pencil-square {
		font-size: 1.3rem;
}


.group-statu-type {
	border-radius: 0.3em;
	color: white;
}

.recruiting {
 background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%); 
 -webkit-text-fill-color: transparent;
 color: white; /* 텍스트 색상 흰색 */
 -webkit-text-fill-color: white;
 background-color: #d4edda; /* 모집중 배경색 */
}

.recruitment-closed {
    background-color: #9b9ea1; /* 모집완료 배경색 */
}

.comment-actiom {
	cursor: pointer;
}


