<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>MMS - 모두모여스터디</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Custom Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
	rel="stylesheet" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link href="css/mypage.css" rel="stylesheet" />
<!-- Bootstrap core JS-->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/mypage.js"></script>
<script src="/js/common.js"></script>
</head>
<body class="d-flex flex-column h-100 bg-light">
	<main class="flex-shrink-0">
		<!-- 네비게이션바 -->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!-- Page Content-->
		<div class="container px-1 my-4">
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-11 col-xl-9 col-xxl-8">
					<!-- Experience Section-->
					<section>
						<div class="d-flex align-items-start justify-content-between mb-4">
							<!-- 왼쪽 영역 (Experience 제목) -->
							<div class="col-3 me-5">
								<h2 class="text-primary fw-bolder mb-0">마이페이지</h2>
								<div class="list-group mt-3">
									<!-- 내 정보 항목 -->
									<a href="#infoCollapse"
										class="list-group-item list-group-item-action"
										data-bs-toggle="collapse" role="button" aria-expanded="false"
										aria-controls="infoCollapse" id="showInfo"> <i
										class="bi bi-person"></i> &nbsp; 내 정보
									</a>
									<div class="collapse" id="infoCollapse">
										<a href="#" id="defaultInfo"
											class="list-group-item list-group-item-action ps-4">기본정보
											변경</a>
									</div>
									<div class="collapse" id="infoCollapse">
										<a href="#" id="showPassword"
											class="list-group-item list-group-item-action ps-4">비밀번호
											변경</a>
									</div>
									<!-- 스터디 항목 -->
									<a href="#studyCollapse"
										class="list-group-item list-group-item-action"
										data-bs-toggle="collapse" role="button" aria-ex panded="false"
										aria-controls="studyCollapse"> <i
										class="bi bi-journal-check"></i> &nbsp; 스터디
									</a>
									<div class="collapse" id="studyCollapse">
										<a href="#"
											class="list-group-item list-group-item-action ps-4"
											id="showStudy">내 스터디 목록</a> <a href="#"
											class="list-group-item list-group-item-action ps-4"
											id="showApplied">신청한 스터디</a>
									</div>

									<!-- 문의사항 항목 -->
									<a href="#" class="list-group-item list-group-item-action"
										id="showInquiry"> <i class="bi bi-question-square"></i>
										&nbsp; 문의사항
									</a>

									<!-- 기타 항목 -->
									<a href="#" class="list-group-item list-group-item-action"
										id="showWithdrawal"> <i class="bi bi-box-arrow-right"></i>
										&nbsp; 회원탈퇴
									</a>
								</div>
							</div>

							<div class="card border-0 rounded-4 mb-5 col-8 mx-auto">

								<!-- 내 정보 기본정보 변경  -->
								<div class="card-body p-5 infoContent content-section "
									style="display: none;" id="infoContent">
									<div class="d-flex flex-column align-items-center text-center">
										<div class="col-lg-4 mb-4 mb-lg-0">
											<div class="bg-light p-2 rounded-circle">
												<!-- 사용자 지정 이미지가 있을 경우 -->
												<img th:if="${user.img_type}"
													th:src=" '/upload' + ${user.img_path}" alt="사용자 이미지"
													class="img-fluid rounded-circle" id="userImg" />

												<!-- 기본 이미지 사용 (예: img_type이 false인 경우) -->
												<img th:unless="${user.img_type}" th:src="${user.img_path}"
													alt="기본 이미지" class="img-fluid rounded-circle" id="userImg" />

											</div>
										</div>
										<div class="col-lg-8 mt-4 flex">
											<input type="file" id="photoInput" accept="image/*"
												style="display: none;" name="selectImg" />
											<button type="button" class="btn btn-secondary mb-1"
												id="changePhotoButton">사진변경</button>
											<button type="button" class="btn btn-secondary mb-1"
												id="randomImg">랜덤이미지</button>
										</div>
										<div class="col-lg-8 mt-4">
											<fieldset>
												<div class="row">
													<label for="staticEmail" class="col-sm-3 col-form-label">이메일</label>
													<div class="col-sm-10">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															th:value="${user.email}">
													</div>
												</div>
												<div>
													<label for="exampleInputNickname" class="form-label mt-4">닉네임</label>
													<input type="text" class="form-control" id="nickname"
														th:value="${user.nickname}"
														placeholder="Enter your nickname">
													<!-- 	<small
														id="emailHelp" class="form-text text-muted">We'll
														never share your email with anyone else.</small> -->
												</div>

												<button type="submit" class="btn btn-primary mt-5 " disabled
													id="saveBtn">저장</button>
											</fieldset>
										</div>
									</div>
								</div>


								<!-- 비밀번호 변경-->
								<div class="card-body p-5 passwordContent content-section "
									style="display: none;" id="passwordContent">
									<div class="d-flex flex-column align-items-center text-center">
										<h3 class="mb-4">비밀번호 변경</h3>

										<!-- 기존 비밀번호 입력 -->
										<form id="pwForm">
											<div class="w-100 mb-3">
												<label for="password" class="form-label">기존 비밀번호</label> <input
													type="password" class="form-control" id="password"
													name="password" placeholder="기존 비밀번호" autocomplete="off"
													required>
											</div>

											<!-- 새로운 비밀번호 입력 -->
											<div class="w-100 mb-3">
												<label for="newPassword" class="form-label">새로운 비밀번호</label>
												<input type="password" class="form-control" id="newPassword"
													name="newPassword" placeholder="새로운 비밀번호"
													autocomplete="off" required>
											</div>

											<!-- 신규 비밀번호 확인 입력 -->
											<div class="w-100 mb-3">
												<label for="passwordCheck" class="form-label">신규
													비밀번호 확인</label> <input type="password" class="form-control"
													id="passwordCheck" name="passwordCheck"
													placeholder="비밀번호 확인" autocomplete="off" required>
											</div>

											<!-- 비밀번호 변경 버튼 -->
											<button type="submit" class="btn btn-primary mt-4"
												id="changePasswordBtn">비밀번호 변경</button>
										</form>
									</div>
								</div>

								<!-- 스터디 - 내 스터디 목록 -->
								<div class="card-body p-5 infoContent content-section "
									style="display: none;" id="myStudyListsContent">
									<div class="d-flex flex-column align-items-center text-center ">
										내 스터디 목록</div>
										
										
								</div>

								<!-- 스터디 - 신청한 스터디 -->
								<div class="card-body p-5 infoContent content-section "
									style="display: none;" id="appliedStudyListsContent">
									<div class="d-flex flex-column align-items-center text-center ">

										신청한 스터디 목록</div>
								</div>



								<!-- 문의사항-->
								<div class="card-body p-5 infoContent content-section "
									style="display: none;" id="infoInquiryContent">
									<div class="d-flex flex-column align-items-center text-center ">


										<div id="InquiryAccordion" class="accordion w-100">
											<!-- 여기에 저장된 FAQ가 추가됩니다 -->


										</div>

										<!-- 1:1 문의사항 페이징 -->
										<div id="pagination"
											class="d-flex justify-content-center mt-4">
											<nav aria-label="Page navigation example">
												<ul class="pagination">
												</ul>
											</nav>
										</div>

									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- Divider-->
					<div class="pb-5"></div>

				</div>
			</div>
		</div>
	</main>
	<!-- Footer-->
	<footer class="bg-white py-4 mt-auto">
		<div class="container px-5">
			<div
				class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto">
					<div class="small m-0">Copyright &copy; Your Website 2023</div>
				</div>
				<div class="col-auto">
					<a class="small" href="#!">Privacy</a> <span class="mx-1">&middot;</span>
					<a class="small" href="#!">Terms</a> <span class="mx-1">&middot;</span>
					<a class="small" href="#!">Contact</a>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
