<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>MMS - 모두모여스터디</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Custom Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
	rel="stylesheet" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/mystudyDetail.css" rel="stylesheet" />
<!-- FullCalendar CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css"
	rel="stylesheet" />
<!-- FullCalendar JS -->
<script
	src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<!-- 아이콘 사용 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- Bootstrap core JS-->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Core theme JS-->
<script src="/js/mystudyDetail.js"></script>

</head>
<body class="d-flex flex-column h-100 bg-light">
	<main class="flex-shrink-0">
		<!-- 네비게이션바 -->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!-- Page Content-->
		<div class="container px-0 my-2" style="max-width: 1800px;">

			<div class="row gx-5 justify-content-center">
				<div class="col-lg-11 col-xl-9 col-xxl-8">
					<!-- Experience Section-->
					<section>
						<div class="container-fluid">
							<input type="hidden" id="groupId" th:value="${groupId}">
							<div class="row mt-3">
								<!-- Sidebar Section -->
								<div class="col-md-2 col-lg-2 bg-white rounded-4 shadow-sm ">
									<ul class="nav flex-column" id="sidebar">
										<li class="nav-item mb-2 mt-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="study"> <i
												class="bi bi-info-circle-fill me-2"></i>스터디
										</a></li>
										<li class="nav-item mb-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="members"> <i class="bi bi-people-fill me-2"></i>멤버
										</a></li>
										<li class="nav-item mb-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="schedule"> <i
												class="bi bi-calendar-event-fill me-2"></i>일정
										</a></li>
										<li class="nav-item mb-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="resources"> <i
												class="bi bi-folder-fill me-2"></i>공유 파일
										</a></li>
										<li class="nav-item mb-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="board"> <i
												class="bi bi-chat-left-text-fill me-2"></i>게시판
										</a></li>
										<!-- 가입신청 버튼은 LEADER 또는 SUB_LEADER일 경우 보임 -->
										<li class="nav-item mb-2"
											th:if="${userRole == 'LEADER' || userRole == 'SUB_LEADER'}">
											<a class="nav-link text-dark rounded-2" href="#"
											data-target="application"> <i
												class="bi bi-plus-circle me-2"></i> 가입신청
										</a>
										</li>

										<!-- 스터디 삭제 버튼은 LEADER일 경우에만 보임 -->
										<li class="nav-item mb-2" th:if="${userRole == 'LEADER'}">
											<a class="nav-link text-dark rounded-2" href="#"
											data-target="delete"> <i class="bi bi-trash me-2"></i>
												스터디 삭제
										</a>
										</li>
										<!-- 	<li class="nav-item mb-2"><a
											class="nav-link text-dark rounded-2" href="#"
											data-target="delete"> <i class="bi bi-trash me-2"></i>
												스터디 삭제
										</a></li> -->
									</ul>
								</div>

								<!-- Content Section -->
								<div class="col-md-10 col-lg-10 ps-4">
									<div class="card border-0 rounded-4">
										<div class="card-body" id="content">
											<div id="study" class="content-section d-none">
												<h3 class="fw-bold" th:text="${studyGroup.name}"></h3>
												<hr>

												<!-- 방장과 부방장 정보를 같은 행에 나란히 배치 -->
												<div class="row mb-3">
													<div class="col">
														<span>방장 <i class="fas fa-crown text-warning"></i>
															<span th:text="${studyGroup.leader}"></span></span>
													</div>
													<div class="col" th:if="${studyGroup.subLeader != null}">
														<span>부방장 <i class="fas fa-star text-primary"></i>
															<span th:text="${studyGroup.subLeader}"></span></span>
													</div>
												</div>

												<!-- 멤버 수와 최대 멤버 수 정보를 같은 행에 나란히 배치 -->
												<div class="row ">
													<!-- 				<canvas id="memberChart" width="400" height="100"></canvas>
													<input type="hidden" id="memberCount"
														th:value="${studyGroup.memberCount}"> <input
														type="hidden" id="maxMembers"
														th:value="${studyGroup.maxMembers}"> -->

													<div class="col">
														<span>멤버 수: <span
															th:text="${studyGroup.memberCount}"></span></span>
													</div>
													<div class="col">
														<span>최대 멤버 수: <span
															th:text="${studyGroup.maxMembers}"></span></span>
													</div>
												</div>
											</div>


											<div id="members" class="content-section d-none">
												<h3 class="fw-bold">활동 멤버</h3>
												<!-- 공유 파일 리스트 섹션 -->
												<div id="memberListSection" class="mt-4">
													<ul id="memberList" class="list-group">
														<!-- 파일 리스트 아이템이 여기에 동적으로 추가됩니다 -->
													</ul>
												</div>
											</div>
											<div id="schedule" class="content-section d-none">
												<h3 class="fw-bold">일정 내용</h3>
												<div class="card-body">
													<div id="calendar" style="height: 100%;"></div>
													<!-- 달력 표시 영역 -->
												</div>
											</div>
											<div id="resources" class="content-section d-none">
												<div
													class="d-flex justify-content-between align-items-center">
													<h3 class="fw-bold">공유 파일</h3>
													<!-- 등록하기 버튼 -->
													<button id="toggleUploadModal" class="btn btn-primary"
														data-bs-toggle="modal" data-bs-target="#uploadModal">등록하기</button>
												</div>

												<!-- 파일 업로드 모달 -->
												<div class="modal fade" id="uploadModal" tabindex="-1"
													aria-labelledby="uploadModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="uploadModalLabel">파일
																	등록하기</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<form id="groupFileUploadForm"
																	enctype="multipart/form-data">
																	<div class="mb-3">
																		<label for="fileTitle" class="form-label">제목</label> <input
																			type="text" id="fileTitle" name="title"
																			class="form-control" required>
																	</div>
																	<div class="mb-3">
																		<label for="groupFile" class="form-label">파일
																			업로드</label> <input type="file" id="groupFile" name="file"
																			class="form-control" required>
																	</div>
																	<button type="button" id="uploadButton"
																		class="btn btn-success">파일 등록</button>
																</form>
															</div>
														</div>
													</div>
												</div>

												<!-- 공유 파일 리스트 섹션 -->
												<div id="fileListSection" class="mt-4">
													<ul id="fileList" class="list-group">
														<!-- 파일 리스트 아이템이 여기에 동적으로 추가됩니다 -->
													</ul>
												</div>
											</div>
											<div id="board" class="content-section d-none">
												<div
													class="d-flex justify-content-between align-items-center">
													<h3 class="fw-bold">게시판 내용</h3>
													<button id="createPostBtn" class="btn btn-primary">작성하기</button>
												</div>

												<div id="boardListSection" class="mt-4">
													<ul id="boardList" class="list-group">
														<!-- 파일 리스트 아이템이 여기에 동적으로 추가됩니다 -->
													</ul>
												</div>
												<div id="pagination"
													class="mt-4 d-flex justify-content-center">
													<!-- 페이징 버튼이 동적으로 추가됩니다 -->
													<div class="paginationSection"></div>
												</div>
											</div>

											<div id="application" class="content-section d-none">
												<h3 class="fw-bold">가입신청</h3>
												<hr>
												<div id="applicationListContainer">
													<p>가입신청에 대한 상세 정보가 나온다.</p>
												</div>
											</div>
											<div id="delete" class="content-section d-none ">
												<h3 class="fw-bold">스터디 삭제</h3>
												<hr>
												<div class="text-center">
													<div style="color: #ffc107;">
														<i class="bi bi-exclamation-triangle-fill"
															style="font-size: 3rem;"></i>
													</div>
													<p>
														스터디 그룹을 삭제하면 기존의 데이터들이 다 삭제 됩니다.<br>스터디 그룹을 삭제하기를
														원하시면 아래의 버튼을 눌러주세요.
													</p>
													<button id="deleteStudyBtn" class="btn btn-danger">삭제하기</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</section>

					<!-- Divider-->
					<div class="pb-5"></div>

				</div>
			</div>
		</div>
	</main>
	<!-- Footer-->
	<footer class="bg-white py-4 mt-auto">
		<div class="container px-5">
			<div
				class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto">
					<div class="small m-0">Copyright &copy; Your Website 2023</div>
				</div>
				<div class="col-auto">
					<a class="small" href="#!">Privacy</a> <span class="mx-1">&middot;</span>
					<a class="small" href="#!">Terms</a> <span class="mx-1">&middot;</span>
					<a class="small" href="#!">Contact</a>
				</div>
			</div>
		</div>
	</footer>
</body>
<!-- <script>
	$(document).ready(function() {
		// Thymeleaf 변수에서 값을 가져옵니다.
		const memberCount = $('#memberCount').val();
		const maxMembers = $('#maxMembers').val();

		console.log(memberCount);

		// 최대 멤버 수에서 현재 멤버 수를 뺀 값을 계산합니다.
		const remainingMembers = maxMembers - memberCount;

		// 파이 차트를 생성합니다.
		const ctx = $('#memberChart')[0].getContext('2d');
		new Chart(ctx, {
			type : 'pie',
			data : {
				labels : [ '현재 멤버 수', '남은 자리 수' ],
				datasets : [ {
					data : [ memberCount, remainingMembers ],
					backgroundColor : [ '#36A2EB', '#FFCE56' ],
					borderColor : [ '#FFFFFF' ],
					borderWidth : 1,
				} ]
			},
			options : {
				responsive : true,
				plugins : {
					legend : {
						position : 'bottom',
					},
					tooltip : {
						callbacks : {
							label : function(context) {
								let label = context.label || '';
								if (label) {
									label += ': ';
								}
								label += context.raw;
								return label;
							}
						}
					}
				}
			}
		});
	});
</script> -->
</html>


