
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3"
	th:fragment="navbarFragment">
	<div class="container px-5">
		<a class="navbar-brand" href="/home"><span
			class="fw-bolder text-primary">MMS</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
				<li class="nav-item"><a class="nav-link" href="/study">스터디</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="index">커뮤니티</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/mystudy">내
						스터디</a></li>
				<li class="nav-item"><a class="nav-link" href="/faq">Q&A</a></li>
				<!-- 관리자 권한이 있는 경우 관리자 페이지 링크를 표시 -->
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/admin">관리자 페이지</a></li>

				<!-- 일반 사용자 또는 권한이 없는 경우 마이페이지 링크를 표시 -->
				<li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/mypage">마이페이지</a></li>

				<!-- 			<li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a>
				</li> -->
				<li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a>
				</li>
			</ul>
		</div>
	</div>
</nav>